@import "SHARED/general.css";

/* Member Panel */
.member-panel{
    width: 10%;
    padding: var(--mb-0-5);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--major-color);
    color: var(--text-color-light);
}

.member-panel h1{
    color: inherit;
    font-size: var(--h1-font-size);
}

.member-panel button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: var(--mb-1);
    margin-top: var(--mb-1);
    width: 95%;
}

.member-panel button img{
    overflow: hidden;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: var(--mb-0-5);
}

/* Calendar Grid */
.fc-header-toolbar {
    vertical-align: baseline;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-1-5);
}

.fc-header-toolbar button {
    overflow: visible;
    display: inline-block;
    padding: var(--mb-0-5);
    text-align: center;
    vertical-align: middle;
    opacity: 0.65;
    margin-left: var(--mb-0-75);
}

/* Edit Panel */
.edit-panel{
    background-color: var(--major-color);
    color: var(--text-color-light);
}

.edit-panel h1,h2,h3{
    color: var(--text-color-light);
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.event-details {
    margin-top: 35px;
    padding: 16px;
}

.event-details .row {
    padding: 8px 0;
    align-items: center;
}

.event-details input {
    padding: 5px;
    background: transparent;
    border-bottom: var(--border-width) solid var(--text-color-light);
}

.event-details input:focus{
    border-bottom: var(--border-width-bold) solid var(--major-color-heaveier);
}

.event-details select {
    padding: 5px;
    background: transparent;
    border-bottom: var(--border-width) solid var(--text-color-light);
}

.event-details .row h3 {
    font-size: 17px;
    margin: 0;
}

.event-details .row p {
    font-size: 17px;
    margin: 0;
}

.event-details .row .col-6:first-child {
    padding-right: 8px;
}

.event-details .row .col-6:last-child {
    padding-left: 8px;
}

.event-details .row .col-6 p {
    text-align: right;
}

/* Timeline */
.timeline-container{

}

.timeline {
    position: relative;
}

.event {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--major-color-second);
    margin-right: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 15px;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.time {
    color: #555;
}

.event-block {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 4%;
    width: 2px;
    height: 100%;
    background-color: var(--major-color-second);
    transform: translateX(-50%);
}