/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* VARIABLES */
:root{
    /* Color Hue */
    --minor-hue: 24deg;
    --major-hue: 209deg;
    --rest-hue: 0deg;

    /* HSL Color Mode */
    --major-color: hsl(var(--major-hue), 100%, 61%);
    --major-color-second: hsl(var(--major-hue), 64.85%, 64.71%);
    --major-color-lighter: hsl(var(--major-hue), 74.85%, 74.71%);
    --major-color-heaveier: hsl(var(--major-hue), 80%, 35%);

    --minor-color: hsl(var(--minor-hue), 100%, 50%);
    --minor-color-second: hsl(var(--minor-hue), 90%, 64.5%);

    --body-color: hsl(var(--major-hue), 0%, 92.16%);
    --container-color: hsl(var(--rest-hue), 0%, 75.29%);
    --container-color-second: hsl(var(--rest-hue), 0%, 50%);

    --container-color-dark: hsl(var(--rest-hue), 0%, 15.29%);

    --text-color: hsl(var(--rest-hue), 5%, 0%);
    --title-color: hsl(var(--rest-hue), 5%, 5%);
    --input-color: hsl(var(--rest-hue), 15%, 10%);

    --text-color-light: hsl(var(--rest-hue), 100%, 100%);
    --title-color-light: hsl(var(--rest-hue), 100%, 95%);
    --input-color-light: hsl(var(--rest-hue), 90%, 100%);

    --border-color: hsl(var(--rest-hue), 60%, 99%);
    --scroll-bar-color: hsl(var(--rest-hue), 12%, 90%);
    --scroll-thumb-color: hsl(var(--rest-hue), 12%, 80%);

    /* Font and typography */
    --body-font: 'PT Serif', sans-serif;  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --h4-font-size: 1rem;
    --normal-font-size: .9rem;
    --medium-font-size: .75rem;

    --header-height: 3rem;

    /* Font Weight */
    --font-thin: 100;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Margins Bottom */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltop: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Border */
    --border-width: 1px;
    --border-width-bold: 3px;
    --border-radius: 4px;
}

/* Variable Changes in Small Devices */
@media screen and(max-width: 350px){

}

/* Variable Changes in Large Devices */
@media screen and(min-width: 970px){
    :root{
        /* Font Size */
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1.125rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* GENERALS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h3{
    font-size: var(--h4-font-size);
}

h1,h2{
    color: var(--title-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-5);
}

h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-25);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

select,
input{
    padding: 5px;
    border: none;
    background: transparent;
    font-weight: var(--font-regular);
}

input::placeholder {
    letter-spacing: 2px;
    font-size: var(--font-regular);
    font-weight: var(--font-thin);
}

input:focus {
    outline: none;
    font-size: var(--h4-font-size);
    transition: 0.5s all ease;
}

input:focus::placeholder {
    opacity: 0;
}

/* ------- REUSABLE CLASSES -------- */
/* BUTTON 1: Significant */
.button-sig{
    width: 180px;
    height: 60px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: var(--border-width-bold) solid var(--minor-color);
    border-radius: var(--border-radius);
    outline: none;
    transition: 1s ease-in-out;
}

.button-sig svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: var(--border-color);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.button-sig span{
    color: var(--minor-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
}

.button-sig:hover{
    transition: 1s ease-in-out;
    background: var(--minor-color);
    border: var(--border-width) solid var(--border-color);
}

.button-sig:hover svg{
    stroke-dashoffset: -480;
}

.button-sig:hover span{
    color: var(--text-color-light);
}

.button-sig-light{
    width: 180px;
    height: 60px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: var(--border-width-bold) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    transition: 1s ease-in-out;
}

.button-sig-light svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: var(--border-color);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.button-sig-light span{
    color: var(--text-color-light);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
}

.button-sig-light:hover{
    transition: 1s ease-in-out;
    background: var(--minor-color);
    border: var(--border-width) solid var(--border-color);
}

.button-sig-light:hover svg{
    stroke-dashoffset: -480;
}

/* BUTTON 2: Normal */
.button-norm{
    transition: all .5s ease;
    color: var(--major-color);
    border: var(--border-width-bold) solid var(--major-color);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
}

.button-norm:hover{
    color: var(--text-color-light);
    background-color: var(--major-color);
}

.button-norm-light{
    color: var(--text-color-light);
    border: var(--border-width-bold) solid var(--border-color);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    transition: all .5s ease;
}

.button-norm-light:hover{
    color: var(--major-color);
    background-color: var(--border-color);
}

/* SCROLL BAR */
