/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

@import "./general.css";

* {
	margin: 0;
	padding: 0;
}

.u-section-1{
	background-color: var(--body-color);
}

.u-section-1 .u-sheet-1 {
	min-height: 700px;
}

.wrap {

	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.container {
	margin: auto;
	width: 650px;
	height: 550px;
	position: relative;
}

.welcome {
	background: white;
	width: 700px;
	height: 415px;
	position: absolute;
	top: 25%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.box {
	position: absolute;
	top: -10%;
	left: 0%;
	background: var(--minor-color);
	opacity: .98;
	width: 380px;
	height: 500px;
	border-radius: 20px;
	box-shadow: 2px 0 10px rgba(0, 0, 0, .3);
	transition: all 0.5s ease-in-out;
	z-index: 2;
}

.hidden {
	display: none;
	transition: all 0.5s ease;
}

.leftBox, .rightBox {
	position: absolute;
	width: 50%;
	transition: 1s all ease;
}

.leftBox {
	left: -2%;
}

.rightBox {
	right: -2%;
}

h2 {
	text-align: right;
}

h1 {
	font-family: 'PT Serif', sans-serif;
	text-align: center;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 8px;
}

.title {
	font-family: 'PT Serif', cursive;
	background-image: linear-gradient(to right top, #f9d807, #e8e80e, #f7c707 15%, #338ddb, #4e9fec);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3em;
	line-height: 1.1em;
	letter-spacing: 3px;
	text-align: center;
	font-weight: 300;
	margin-top: 20%;
}

.desc {
	margin-top: 20px;
}

.account {
	margin-top: 45%;
	font-size: 10px;
}


p {
	font-family: var(--body-font);
	font-size: 1em;
	letter-spacing: 2px;
	color: var(--minor-color);
	text-align: center;
}

span {
	color: var(--major-color);
}

.logo {
	position: absolute;
	width: 125px;
	height: 125px;
	top: 45%;
	left: 30%;
	opacity: .8;
}

button {
	padding: 9px;
	font-family: 'PT Serif', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	border-radius: 20px;
	margin: auto;
	outline: none;
	display: block;
}

button:hover {
	background: white;
	color: var(--major-color-heaveier);
	letter-spacing: 6px;
	transition: letter-spacing .3s ease-out;
}

.subButton {
	padding: 9px;
	font-family: 'PT Serif', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	border-radius: 20px;
	margin: auto;
	outline: none;
	display: block;
}

.subButton:hover {
	background: white;
	color: var(--major-color-heavier);
	letter-spacing: 6px;
	transition: letter-spacing .3s ease-out;
}

.button {
	margin-top: 3%;
	background: white;
	color: var(--major-color-heavier);
	border: 2px solid #A2D2FF;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 7px;
}

.more-padding {
	padding-top: 35px;
}

.more-padding input {
	padding: 12px;
}

.more-padding .submitButton {
	margin-top: 45px;
}

.submitButton {
	background: var(--major-color-light);
	color: #ffffff;
	margin-top: 40px;
	font-size: 15px;
	padding: 12px;
	border: 3px solid white;
}

.submitButton:hover {
	color: #ffffff;
	background: var(--major-color-light);
}

.accountInput {
	background: var(--major-color-heavier);
	width: 65%;
	color: white;
	border-bottom: 3px solid rgb(255, 255, 255);
	padding: 12px;
}

.accountInput::placeholder {
	color: white;
}

.accountInput:focus {
	color: white;
	border-bottom: 2px solid var(--major-color);
}

label {
	font-family: 'PT Serif', sans-serif;
	color: #ffffff;
	font-size: 1em;
	letter-spacing: 2px;
	text-align: left;
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
        margin: 0 auto; 
    }
    .welcome {
        width: 80%; 
        height: auto; 
        top: 10%;
    }
    .box {
        width: 55%;
        height: auto; 
        top: 15%; 
		margin-left: 0px;
    }

	h1, .title {
        font-size: 12px;
    }

    p, label, button, .accountInput,a, .submitButton {
        font-size: 10px; 
    }
}